$themes: (
  light: (
    textColor: #000,
    // textColor: #000,
    bg: white,
    logo: #da3e52,
    bgSoft: #f6f3f3,
    textColorSoft: #555,
    border: lightgray,
    font-family: "Merriweather",
    picture: url(https://media.istockphoto.com/id/1311068481/vector/seamless-blue-pattern-background-with-paw-prints-animals.jpg?s=612x612&w=0&k=20&c=BCLBX89WRWFDmu7JSX8G077VyUrMvcVyIXwfEWmeHdA=),
  ),
  dark: (
    textColor: whitesmoke,
    bg: #222,
    logo: #96e6b3,
    bgSoft: #333,
    textColorSoft: lightgray,
    border: #444,
    font-family: "Lato",
    picture: url(https://media.istockphoto.com/id/1051264018/vector/paw-print-background-cat-dog-footprint-seamless-pattern.jpg?s=612x612&w=0&k=20&c=bzeQDZv9Z4Ahh9_BDTGm570u5z9JQ9BSg74s8L1EmCE=),
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}
